body,p,h1,h2,ul,span {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
     font-family: $instruction-font;
     font-size: clamp(1.6rem, 1.35vw, 2rem);
     line-height: 1.4;
     color: #fff;
    
}

.wrapper {
     width: 85%;
     max-width: 1250px;
     margin: 0 auto;
}

a {
     text-decoration: none;
     color: $btn-shadow;
}

.span-break {
     display: block;
}
