.main__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    writing-mode: vertical-lr;
    font-family: 'Megrim', cursive;
    font-size: 12rem;
    text-transform: uppercase;
    position: absolute;
    right: -130px;
    color: #7B0828;  
}

//Mixer block
.mixer {
    background: #000000;  //fallback
    background: linear-gradient(to top, #434343, #222); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: #885053;

    //Grid contaier for buttons
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    grid-column: 4 / 7;
    grid-row: 1 / 4;
    position: relative;
    width: clamp(300px, 70%, 600px);
    height: 800px;
    padding: 20px;
    margin: 50px 0 100px 0;
    border: 1px solid black;
    border-radius: .5rem;
    box-shadow: -5px 5px #000;
    

    //Mixer screen
    &__screen {
        background: #ABFF00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
        overflow: hidden;
        width: 80%;
        height: 80%;
        grid-row: 1 / 2;
        grid-column: 1 / 5;
        border: 1px solid black;
        border-radius: .5rem;
        place-self: center;
        display: flex;
        align-items: center;
        position: relative; 
        
    }

    &__song-name {
        font-family: $screen-font;
        position: absolute;
        right: 213px;
        font-size: 3rem;
    }

    //Mixer buttons
    &__btn {
        border: 1px solid #fff;
        border-radius: 1rem;
        background: #777DA7;
        box-shadow: -2px 5px #FE5F55;
        transition: all .05s;
        color: #DBF9F0;

        &:active {
            transform: translate(-2px, 5px);
            box-shadow: none;
        }
    }

    &__btn--js-press {
        animation: btn-press .1s ;
    }
}

@keyframes btn-press {
    50% {
        transform: translate(-2px, 5px);
        box-shadow: none;
    }
}

//footer block
.footer {
    background: cadetblue;
    border-top: 1px solid black;
    padding: 10px 0;

    //Flex container
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    //Social media link flex container
    &__socials {
        display: flex; 
    }
    //Social media styling
    &__links {
        padding: 10px;
        font-size: 2.4rem;
    }
}



