@media (max-width:769px) {
    .main {
        &__header--desktop {
            display: none;
        }

        &__header--mobile {
            display: block;
            
        }
    }   

    .mixer {
        margin: 20px 0;
    }
}

@media (max-width:500px) {
    .mixer {
        width: 100vw;

        &__btn-num {
            display: none;
        }
    }
}