//Colour variables
$btn-color: #1B4965;
$btn-shadow: #ffcf00;
$highlight: #E8F1F2;
$header-color: #f61067 ;

// Font variables 
$screen-font: 'Turret Road', cursive;
$header-font: 'Megrim', cursive;
$instruction-font: 'Palanquin', sans-serif;

//Partials

@import "partials/setup";
@import "partials/general";
@import "partials/main";
@import "partials/media-queries";

