html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, p, h1, h2, ul, span {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Palanquin", sans-serif;
  font-size: clamp(1.6rem, 1.35vw, 2rem);
  line-height: 1.4;
}

.wrapper {
  width: 85%;
  max-width: 1250px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #ffcf00;
}

/***************Main Block******************/
.main {
  background: -webkit-gradient(linear, left bottom, left top, from(#C4E0E5), to(#4CA1AF));
  background: linear-gradient(to top, #C4E0E5, #4CA1AF);
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__header {
  color: #f61067;
  font-family: "Megrim", cursive;
  font-size: clamp(10rem, 8.75vw, 12rem);
  text-transform: uppercase;
  text-shadow: 0px 5px 10px rgba(246, 16, 103, 0.7), 1px 3px 5px rgba(250, 176, 204, 0.9);
}

.main__header--desktop {
  position: absolute;
  right: -130px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.main__header--mobile {
  display: none;
  width: clamp(320px, 70%, 600px);
  font-size: clamp(8rem, 8vw, 8rem);
  text-align: center;
}

/**************Mixer block***************/
.mixer {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 15px;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  border: 1px solid #333;
  border-radius: .5rem;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  width: clamp(320px, 80%, 600px);
  height: clamp(500px, 80vh, 750px);
  padding: 25px 30px;
  margin: 75px 0 50px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#243B55), to(#141E30));
  background: linear-gradient(to top, #243B55, #141E30);
}

.mixer__screen {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid black;
  border-radius: .5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
  padding: 30px;
  background: #BAFF29;
  color: #1B4965;
}

.mixer__song-name {
  font-family: "Turret Road", cursive;
  font-size: 2rem;
}

.mixer__btn-general {
  border: 1px solid #E8F1F2;
  border-radius: 1rem;
  -webkit-box-shadow: -2px 5px #ffcf00;
          box-shadow: -2px 5px #ffcf00;
  background: #1B4965;
  color: #E8F1F2;
  font-family: "Turret Road", cursive;
  font-weight: bold;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.mixer__btn-general:active {
  -webkit-transform: translate(-2px, 5px);
          transform: translate(-2px, 5px);
  -webkit-box-shadow: 0px 0px 50px #f61067, 0px 0px 25px #5BC0EB;
          box-shadow: 0px 0px 50px #f61067, 0px 0px 25px #5BC0EB;
}

.mixer__switch {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  border-radius: 10%;
  -webkit-box-shadow: -1px 3px #f61067;
          box-shadow: -1px 3px #f61067;
}

.mixer__btn--js-press {
  -webkit-animation: btn-press .1s;
          animation: btn-press .1s;
}

@-webkit-keyframes btn-press {
  100% {
    -webkit-transform: translate(-2px, 5px);
            transform: translate(-2px, 5px);
    -webkit-box-shadow: 0px 0px 50px #f61067, 0px 0px 25px #5BC0EB;
            box-shadow: 0px 0px 50px #f61067, 0px 0px 25px #5BC0EB;
  }
}

@keyframes btn-press {
  100% {
    -webkit-transform: translate(-2px, 5px);
            transform: translate(-2px, 5px);
    -webkit-box-shadow: 0px 0px 50px #f61067, 0px 0px 25px #5BC0EB;
            box-shadow: 0px 0px 50px #f61067, 0px 0px 25px #5BC0EB;
  }
}

.instructions {
  width: clamp(320px, 70%, 600px);
  margin-bottom: 50px;
}

/***********footer block**************/
.footer {
  border-top: 1px solid black;
  padding-top: 10px 0;
  height: 6vh;
  background: #1B4965;
  color: #ffcf00;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links {
  padding: 10px;
  color: #ffcf00;
  font-size: 2.4rem;
}

@media (max-width: 769px) {
  .main__header--desktop {
    display: none;
  }
  .main__header--mobile {
    display: block;
  }
  .mixer {
    margin: 20px 0;
  }
}

@media (max-width: 500px) {
  .mixer {
    width: 100vw;
  }
  .mixer__btn-num {
    display: none;
  }
}
